.wrap {
    width: 100%;
    height: 100vh;
    background-color: rgb(209, 221, 252);
}

.button-wrap {
    background-color: #fff;
    vertical-align: middle;
    width: 500px;
    padding: 0 10px 0 10px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
}

.button-wrap button {
    font-family: 'SF_HambakSnow';
    border: none;
    width: 65px;
    background-color: #fff;
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.button-wrap button:hover {
    background-color: rgb(196, 212, 253);
    color: #fff;
}

button.home-btn {
    border: none;
    width: 65px;
    background-color: rgb(196, 212, 253);
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

button.home-btn:hover {
    background-color: rgb(22, 117, 251);
    color: #fff;
}

.introducing {
    width: 500px;
    height: 350px;
    background-color: #fff;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0 10px 0 10px;
    margin-top: 20px;
    text-align: center;
}

.intro-img {
    margin-top: 20px;
    width: 120px;
    height: 160px;
}

.myname {
    text-align: center;
}

h1 {
    font-family: 'GongGothicMedium';
}